{% extends "./layouts/app.twig" %}

{% block content %}
    <style type="text/css">
        .table {
            height: 20vh;
        }
    </style>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th colspan="3">{{ kitchen.name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="1">Description</td>
                <td colspan="2">{{kitchen.description}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/kitchen/edit?id={{kitchen.id}}" class="btn btn-secondary">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    {% if recipes is empty %}
        <div class="alert alert-warning" role="alert">
            No recipes found!
        </div>
    {% endif %}

    <div class="card-columns d-flex justify-content-evenly flex-wrap">
        {% for recipe in recipes %}
            <div class="card bg-dark text-white mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.name }}
                    <span class="badge {{
                        recipe.level == 'easy' ? 'text-bg-success' :
                        recipe.level == 'medium' ? 'text-bg-warning' :
                        recipe.level == 'hard' ? 'text-bg-danger'}}">
                        {{ recipe.level }}
                    </span></h5>
                    <a href="/recipe/show?id={{ recipe.id }}" class="btn btn-primary">View</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}